@font-face {
  font-family: "arvo";
  src: local("assets/fonts/arvo"), url(assets/fonts/arvo.woff);
  src: local("assets/fonts/ng"), url(assets/fonts/ng.woff);
}

body {
  font-family: "arvo";
  // background-color: #333;
}
